node_modules
.DS_Store
public
quartz/.quartz-cache
quartz/.quartz-cache/transpiled-build.mjs
quartz/.quartz-cache/transpiled-build.mjs.map
content/.obsidian/app.json
content/.obsidian/appearance.json
content/.obsidian/core-plugins.json
content/.obsidian/workspace.json
*~
*.~
